.idea
.sass-cache
.DS_Store
node_modules
bower_components
public
guide
setting.js
node/*

################################################################################
# PHP, Smarty, etc.
################################################################################

templates_c/



################################################################################
# node_modules, etc.
################################################################################

# Node
node_modules/
bk/

################################################################################
# OS/IDE生成, 圧縮ファイル, ログファイル, SQLファイル, etc.
################################################################################

# ドットファイル
.*

# ドットファイル例外
!.ht*
!.gitignore
!.gitkeep
!.user.ini

# 画像





upload/

# 動画
*.3g2
*.3gp
*.asf
*.asx
*.avi
*.flv
*.mov
*.mpeg
*.mpg
*.ogg
*.ogv
*.rm
*.swf
*.vob
*.wmv
*.webm


# 音声
*.wav
*.mp3
*.wma

# 3DCG
*.3dm
*.max

# CMSでアップロードした画像
https/upload/

# OS (Windows)
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# OS (Mac)
__MACOSX
thumbs.db

# テンポラリファイル
*.tmp

# キャッシュファイル
*.cache
*.sass-cache
*.dat




# バックアップファイル
*~
*.orig
*.bak

# 圧縮ファイル
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# ログ・ファイル
*.log

# SQLファイル
*.sql

# Office
~$*
*.tmp

# コンパイルされた実行ファイル
*.com
*.class
*.dll
*.exe
*.o
*.so
*.map

# IDE, エディタ
.vscode/*
.idea
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
tags
